@use '../../../styles.scss' as *;

.form-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 40%);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  max-width: 620px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.subtitle {
  margin: 0;
  color: var(--tui-text-02);
}

.textfield-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.row {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20px;
}
