:host {
  display: block;
  width: 100%;
  align-self: stretch;
}

.content-block {
  display: flex;
  flex-direction: column;
  width: 100%;

  font-family: 'Inter', sans-serif;
  color: var(--tui-text-primary);
  font-size: 16px;

  h2, h3 {
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  h2 {
    font-size: 2.25em;
    letter-spacing: -0.025em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.25em;
    font-weight: 700;
  }

  p {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  img {
    max-width: 100%;
    border-radius: 20px;
    margin: 1rem 0 3rem 0;
  }

  a {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    transition: color 0.2s;

    &:hover {
      color: var(--tui-background-accent-1-hover);
    }
  }

  .quote {
    position: relative;
    margin: 1em 0;
    width: 100%;
    padding: 1.25em 1.25em 1.25em 3em;
    background: var(--tui-background-neutral-1);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &::before {
      content: '';
      position: absolute;
      left: 1.25em;
      top: 1.25em;
      bottom: 1.25em;
      width: 4px;
      border-radius: 999px;
      background: var(--primary-color);
    }

    p.text {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-style: italic;
      font-weight: 300;
      color: var(--tui-text-primary);
    }

    p.caption {
      margin: 0;
      padding: 0;
      font-size: 0.85rem;
      font-weight: 600;
      text-align: left;
      color: var(--tui-text-primary);
    }
  }

  ul {
    margin: 0.25em 0 1em 0;
    padding-left: 1em;
    list-style-type: disc;

    li {
      padding: 0;
    }
  }

  hr {
    border: 0;
    height: 2px;
    margin: 2em 0;
    background: repeating-linear-gradient(
        to right,
        var(--tui-text-tertiary) 0 24px,
        transparent 24px calc(24px + 36px)
    );
  }

  b {
    font-weight: 700;
    color: var(--tui-text-primary);
  }
}
